/* body
{
    margin: none;
}

.titre1
{
    text-align: center;
}
table
{
    text-align: center;
    height:500px;
    width: 750px;
    box-shadow: 0 5px 50px rgba(0, 0,0, 15);   
}
.blue{
    color: blue;
}
.col1
{
    background-color:rgb(0, 145, 255);
}
img
{
    border: 5px solid rgb(0, 68, 255);
}
.rouge
{
    color: red;
} */
/* .col2
{
    background-color: red;
} */
/* 
.option
{
    color: red;
} */
.profil1
{
    /* background-color: aquamarine; */
    margin-left: 300px; 
}

.profil2
{
    /* text-align: center; */
    padding-top: 75px;
    padding-left: none;
    /* background-color: blueviolet; */
}
h5
{
text-align: center;
font-size: 26px;
font-weight: 700;
    

}
.atout1, .atout2, .atout3
{
    border: 1px solid black;
}
.contact
{
    margin-left: 600px;
}


.resume .resume-title,.resume-title
{
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #050d18;
  }
  
  
  .resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #1f5297;
    position: relative;
  }
  
  .resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #050d18;
    margin-bottom: 10px;
  }
  
  .resume .resume-item h5 {
    font-size: 16px;
    background: #e4edf9;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
  }
   
  .resume .resume-item:last-child {
    padding-bottom: 0;
  }
  
  .resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #1f5297;
  }
  